<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<head>
<style type='text/css'>
	*{
		margin:0px;
		padding: 0px;
	}
    .suibian{
        text-align: center;
    }
    #canvas{
    	margin:0 auto;
    	background-image: url({{ url_for('static', filename='img/ex22.jpg') }});
    	background-repeat:no-repeat;
    }
</style>

</head>
<body>
	<div class='suibian'><canvas id='canvas' width="780px" height="294px"></canvas></div>
</body>
<script type="text/javascript">
    var canvas = document.getElementById('canvas');
    //var width = document.body.clientWidth;
    //var offsetwidth = (width-780)/2;

    //canvas.onclick = function(e){
    //    e = event || window.event;
    //    var x = e.clientX-offsetwidth;
    //    var y = e.clientY;
    //    console.log(x+', '+y);
    }
</script>
</html>
